{% extends "__object.twig" %}

{% block objectContent %}
    <div style="background: linear-gradient(180deg, #ffffff, #f2f2f2); border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
        <img src="{{ section_data }}" alt="">
    </div>
{% endblock %}
